resource "docker_container" "{{.NodeName}}-{{.PingPong}}" {
	name = "{{.NodeName}}-{{.PingPong}}"
    network_mode = "container:${docker_container.{{.PodName}}.id}"
	image        = docker_image.pingpong.latest
    restart  = "on-failure"

  labels {
    label = "devconsul"
    value = "1"
  }
  labels {
    label = "devconsul.type"
    value = "app"
  }

  command = [
      "-bind",
      "0.0.0.0:8080",
      "-dial",
      "127.0.0.1:9090",
      "-pong-chaos",
      "-dialfreq",
      "250ms",
      "-name",
      "{{.PingPong}}{{.MetaString}}",
  ]
}
